{{extend "_uliweb_admin_layout.html"}}

{{block content}}
{{use "jquery"}}
{{use "semantic"}}
{{include "inc_show_flashes.html"}}

<div class="head">
    <div class="ui small secondary inverted borderless menu">
        <div class="right menu">
          <div class="ui pointing dropdown item">
            <i class="icon user"></i> {{=unicode(request.user)}}
            <i class="icon dropdown"></i>
            <div class="menu">
              <a class="item" href="/logout"><i class="sign out icon"></i> Logout</a>
            </div>
          </div>
        </div>
    </div>    
</div>

<div class="container">
    <div class="side-menu">
        {{block side_menu}}
        {{<< functions.menu('admin')}}
        {{end}}
    </div>
    <div class="content">
    {{block main}}
    {{end}}
    </div>
</div>
<script>
$(function(){
    $('.head .ui.dropdown').dropdown({
        on: 'hover',
        action: 'nothing'
    });
    
});
</script>

{{link "uliweb_admin/uliweb_admin.css"}}

{{end}}